
<div class="justify-content-start d-flex container my-3 pl-0"><h1 class="text-warning">Books</h1></div>

<div class = "d-flex justify-content-center  ">
  <div class="spinner-border text-warning loading " role="status" *ngIf="loading">
    <span class="sr-only loading">Loading...</span>
  </div>
</div>

<div class="container border border-dark rounded  mb-3" style="background: #212529; opacity:0.8">
  <div class="row  d-flex justify-content-center ">
    
    <div  class="mx-3 my-3" *ngFor="let book of booksArray"> 
        
      <div class="card my-3" style="width: 10rem;  background: rgba(0, 0, 0, 0.486);">
      <div class="hovereffect ">
        <img class="img-responsive " *ngIf="book.photo;else unknown" src="{{book.photo}}" alt="" width="160" height="200">
         <ng-template #unknown> <img class="img-responsive "  src="/assets/imgs/unknown.png" alt="" width="160" height="200"></ng-template>
        <div class="overlay ">
           <a class="info" routerLink={{book._id}}>View Details</a>
        </div> 
          </div>
          <div class =" card-title   d-flex justify-content-center mt-3 mb-2">
            <a class="cardlink text-warning" routerLink="{{book._id}}">{{book.name}}</a></div>
        </div>  
       
    </div>


        </div>

        <div class=" card-title d-flex justify-content-center mt-3 mb-2">
          <p class=" text-warning font-weight-bold h6">{{book.name}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class=" d-flex justify-content-center">
  <ngb-pagination *ngIf="totalBooks>booksPerPage" [collectionSize]="totalBooks" [(page)]="page"  [pageSize]="booksPerPage" [maxSize]="5" [rotate]="false" [ellipses]="false" [boundaryLinks]="true"  (pageChange)="showPageIndex(page)"></ngb-pagination>
</div>
</div>
 
 

