<h2 class="text-warning ml-5 mt-3 mb-3 "> Books</h2>

<div class="container">
  <div class="row ">
<div  *ngFor="let book of booksArray | slice: (page-1) * booksPerPage : page * booksPerPage">
    <div class="col col-md-2 col-sm-6 ">
      <a href="" class="">
        <img class=" " src="{{book.photo}}"  alt=""  width="160" height="200">
      </a>    
       
    </div>
    <div width=160>
    <h4 class="text-warning  " width="160"> {{book.name}}</h4></div>
</div>
  </div>
</div>
 
<ngb-pagination 
  [(page)]="page"
  [pageSize]="booksPerPage"
  [collectionSize]="totalBooks"></ngb-pagination>
