<h2 class="text-warning ml-5 mt-3 mb-3 "> Books</h2>

<div class="container">
  <div class="row ml-5 ">
    
    <div  class="mx-3 my-3" *ngFor="let book of booksArray | slice: (page-1) * booksPerPage : page * booksPerPage"> 
        
      <div class="hovereffect ">
        <img class="img-responsive" src="{{book.photo}}" alt="" width="160" height="200">
        <div class="overlay ">
           <h2 class="text-warning">{{book.name}}</h2>
           <a class="info" href="#">View Details</a>
        </div>
         
          </div>
 
       
    </div>
<!--<div  *ngFor="let book of booksArray | slice: (page-1) * booksPerPage : page * booksPerPage">

  

  </div>-->
</div>
 
 <div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="totalBooks" [(page)]="page"  [pageSize]="booksPerPage" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>