    <footer class="page-footer font-small indigo">
        <div class="container">
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                  <a  routerLinkActive="selected" routerLink="" >Home</a>
                </h6>
              </div>
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLinkActive="selected" routerLink="aboutus">About us</a>
              </h6>
            </div>
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLinkActive="selected" routerLink="contact">Contact Us </a>
              </h6>
            </div>
          </div>
          <hr class="rgba-white-light" style="margin: 0 15%;">
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-5">
              <p style="line-height: 1.7rem">Track the books you're reading, have read, and want to read.
                Check out your personalized book recommendations. Our recommendation engine analyzes hundreds data points to give suggestions tailored to your literary tastes.
                Find out if a book is a good fit for you from our community’s reviews.</p>
            </div>
          </div>
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
          <div class="row pb-3">
            <div class="col-md-12">
            </div>
          </div>
        </div>
        <div class="footer-copyright text-center py-3">Made by: 
          <a href=""> ITians </a>
        </div>
      </footer>
    