<!-- Footer -->
<footer class="page-footer bg-dark ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-3   ">

          <h6 class="text-uppercase  ml-3 mt-3 mb-4">
              <a class="text-decoration-none  text-warning" routerLinkActive="selected" routerLink="">Home</a>
            </h6>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-3">

        <!-- Links -->
        <h6 class="text-uppercase ml-3 mt-3 mb-4">
          <a class="text-decoration-none text-light" routerLinkActive="selected" routerLink="aboutus">About us</a>
        </h6>

       

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-4 ">

        <!-- Links -->
        <h6 class="text-uppercase  ml-4 mt-3 mb-4">
          <a class="text-decoration-none text-warning" routerLinkActive="selected" routerLink="Terms">Terms & Conditions</a>
        </h6>

       
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-2 ">

        <!-- Links -->
        <h6 class="text-uppercase  ml-3 mt-3 mb-4">
          <a class="text-decoration-none text-light" routerLinkActive="selected" routerLink="contact">Contact us</a>
        </h6>

        
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</footer>
<!-- Footer -->


