<div class="container">
   <div class="container border border-dark rounded mt-3 mb-3" style="background: #212529; opacity:0.8">
      <div class="row ml-5  ">

         <div class="col-md-auto pr-0 mr-3   ">
            <img class="   mt-5 mb-3" [src]="book.photo||'assets/imgs/unknown.png'" alt="Random first slide"
               width="160" height="220">
            <div class="text-center">
               <app-rating-and-shelve [book]="book"></app-rating-and-shelve>
            </div>
         </div>

         <div class="col-8 mt-5">
            <h2 class="text-warning font-weight-bold  mb-3">{{book.name}}</h2>
            <h4> <a class="text-decoration-none text-light  mb-3" style="display: block;"
                  routerLink="/home/authors/{{author._id}}">{{author.fname}} {{author.lname}}</a></h4>
            <h4> <a class="text-decoration-none text-light " style="display: block;"
                  routerLink="/home/categories/{{category._id}}">{{category.name}}</a></h4>
            <div class="form-group">
               <h4>
                  <ngb-rating [rate]="book.avgRating" class="text-warning " [formControl]="ctrl"></ngb-rating>
               </h4>
               <div class="form-text ">
               </div>
            </div>
            <p class="text-light pl-0">{{book.description}}</p>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row d-flex justify-content-center">
      <div class="col-md-12 ">
         <div class="headings d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-warning">Reviews</h4>
         </div>
         <div *ngFor="let review of reviews" class="card p-3 mb-2 bg-dark">
            <div class="d-flex justify-content-between align-items-center">
               <div class="user d-flex flex-row align-items-center">
                  <img src="{{review.userId.photo}}" width="50" class="user-img rounded-circle mr-3">
                  <span>
                     <h5 class="font-weight-bold text-warning">{{review.userId.fname}} {{review.userId.lname}}</h5>
                     <h6 class="font-weight-bold text-light">{{review.body}} </h6>
                  </span>
               </div>
            </div>
         </div>

         <div class="card p-3 mb-2 bg-dark">
            <div class="d-flex justify-content-between align-items-center">
               <textarea class="form-control col-9  " placeholder="write a comment..." rows="2"
                  (keyup)="setComment($event)"></textarea>
               <br>
               <button type="button" class="btn btn-warning pull-right col-2" (click)="postReview($event)">Post</button>
            </div>
         </div>
      </div>
   </div>
</div>