 <div class="row">
  <div class=" col-lg-3 pr-0 d-flex justify-content-center">
   <img class="ml-5 mt-5 mb-3" *ngIf="author.photo;else unknown"src={{author.photo}} alt="Random first slide"  width="160" height="220">
     <!-- <app-user-rating-shelve></app-user-rating-shelve> -->
    <ng-template #unknown><img class="  ml-5 mt-5 mb-3" src="assets/imgs/unknown_user.png" alt="Random first slide"  width="160" height="220"></ng-template>
</div> 
 <div class="mt-5 col-lg-9 pl-0">
    <h2 class="text-warning font-weight-bold  mb-3">{{author.fname}} {{author.lname}}</h2>
   <h4   class="  text-light mb-3"> {{AuthorDate}}</h4>
   <h4   class="  text-light mb-3">{{AuthorGender}}</h4>
 </div>
 </div>
 <div class="container">
  <h4 class="text-warning mb-3 font-weight-bold">{{author.fname}}'s Books</h4>
  <div class="row ml-5 border border-warning rounded-3 mb-3 d-flex justify-content-center" >
    <div  class="mx-3 my-3" *ngFor="let book of authorBooks | slice: (page-1) * booksPerPage : page * booksPerPage"> 
      <div class="card bg-dark" style="width: 10rem;">
      <div class="hovereffect ">
        <img class="img-responsive" *ngIf="book.photo;else unknown" src="{{book.photo}}" alt="" width="160" height="200">
         <ng-template #unknown> <img class="img-responsive"  src="/assets/imgs/unknown_book.jpg" alt="" width="160" height="200"></ng-template>
        <div class="overlay ">
           <a class="info" routerLink="/home/books/{{book._id}}">View Details</a>
        </div>
          </div>
          <div class =" card-title d-flex justify-content-center mt-3 mb-2">
            <p class=" text-warning font-weight-bold h6"  >{{book.name}}</p></div>
          </div>
          </div>  
       
    </div>
</div>
<div class="d-flex justify-content-center">
  <ngb-pagination *ngIf="totalBooks>booksPerPage" [collectionSize]="totalBooks" [(page)]="page"  [pageSize]="booksPerPage" [maxSize]="5" [rotate]="false" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>
 