.sidenav {
  width: 200px;
}

.ms-n5 {
    margin-left: -40px;
}
.SigninModal{
    background-color:   #1b1d1f;
    
  }
  a:active {
    color: yellow;
  }
a:focus{
  color: #ffc107;
  font-size: 17px;
  outline: none;
}
/* @media only screen and (max-width: 768px){
    example-search-input{
            width:20px
    }
} */
.dropdown-item:active{
    background-color: #ffc107;
}

.burger-item{
  display:none
}
.AllSearchInput{
  margin-left: 80px;
}
@media only screen and (max-width: 988px){
  .burger-item{
    display:inline-block
  }
 
}