<nav class="navbar navbar-expand-lg  navbar-dark bg-dark py-2 " *ngIf="!isLoggedIn; else elseBlock">
  <div class="container-fluid">
    <a class="navbar-brand text-warning font-weight-bold ms-3" routerLinkActive="selected" routerLink="">GoodBooks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid row ">
      <div class="collapse navbar-collapse col-2 sidenav" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll burger-list" style="--bs-scroll-height: 100px;">
          <li class="nav-item col-4  ">
            <a class="nav-link me-0 " aria-current="page" routerLinkActive="selected"
              routerLink="books">Books</a>
          </li>
          <li class="nav-item col-4 ">
            <a  tabindex="1" class="nav-link  me-0" aria-current="page" routerLinkActive="selected"
              routerLink="categories">Categories</a>
          </li>
          <li class="nav-item col-4 me-5">
            <a class="nav-link   me-0" aria-current="page" routerLinkActive="selected"
              routerLink="authors">Authors</a>
          </li>
          <li class="nav-item col-4 me-5 burger-item">
            <a class="nav-link   me-0" aria-current="page" routerLinkActive="selected"
              routerLink="authors ">Find</a>
          </li>
          <li class="nav-item col-4 me-5 burger-item">
            <a class="nav-link   me-0" aria-current="page" routerLinkActive="selected"
            (click)=open(content2,$event)>SignIn</a>
          </li>
          <li class="nav-item col-4 me-5 burger-item">
            <a class="nav-link   me-0" aria-current="page" routerLinkActive="selected"
            (click)=open(content,$event)>SignUp</a>
          </li>
        </ul>
      </div>
      <div class=" collapse navbar-collapse col-5">
        <div class="input-group">
          <div class="input-group-prepend AllSearchInput">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{SearchOption}}</button>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">All</a>
              <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Books</a>
              <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Categories</a>
              <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Authors</a>
            </div>
          </div>
          <input class="form-control border-end-0 border rounded-right " type="text" placeholder="Search"
            id="example-search-input" [(ngModel)]="keyWords">
          <span class="input-group-append">
            <button class="btn btn-light border-start-0 border-top-0 border-bottom-0  rounded-pill ms-n5 h-100"
              type="button" (click)="Search($event);" routerLinkActive="selected"
              routerLink="searchResults">
              <i class="fa fa-search "></i>
            </button>
          </span>
        </div>
      </div>
      <div class="collapse navbar-collapse col-3">
        <button class="btn btn-warning" type="button" id="SignIn" (click)=open(content2,$event)>
          Sign in
        </button>
        <button class="btn btn-outline-warning ml-3 " type="button" id="SignUp" (click)=open(content,$event)>
          Sign up
        </button>

      </div>
    </div>
  </div>
</nav>



<ng-template #elseBlock>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark py-2   ">
    <div class="container-fluid">
      <a class="navbar-brand text-warning font-weight-bold ms-3" href="#">GoodBooks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid row">
        <div class="collapse navbar-collapse col-4" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">

            <li class="nav-item col-2  ">
              <a class="nav-link active me-0 font-weight-bold " aria-current="page" routerLinkActive="selected"
                routerLink="books">Books</a>
            </li>
            <li class="nav-item col-3 ">
              <a class="nav-link active me-0 font-weight-bold" aria-current="page" routerLinkActive="selected"
                routerLink="categories">Categories</a>
            </li>
            <li class="nav-item col-2 me-5">
              <a class="nav-link active  me-0 font-weight-bold" aria-current="page" routerLinkActive="selected"
                routerLink="authors">Authors</a>
            </li>
            <li class="nav-item col-3 me-5 ml-2 ">
              <a class="nav-link active  me-0 font-weight-bold" aria-current="page" href="#">MyBooks</a>
            </li>
          </ul>
        </div>
        <div class=" collapse navbar-collapse col-5">
          <div class="input-group">
            <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="Search"
              id="example-search-input">
            <span class="input-group-append">
              <button class="btn btn-light border-start-0 border-top-0 border-bottom-0  rounded-pill ms-n5 h-100"
                type="button">
                <i class="fa fa-search "></i>
              </button>
            </span>
          </div>
        </div>
        <div class="collapse navbar-collapse col-3">
          <img src="https://i.imgur.com/C4egmYM.jpg" width="40" class="user-img rounded-circle mr-2">
          <button class="btn btn-outline-warning ml-5 " type="button" id="signOut" (click)="signOut()"> Sign out
          </button>

        </div>
      </div>
    </div>
  </nav>
</ng-template>



<ng-template #content2 let-modal class="SigninModal ">

  <div class="modal-header border-0 SigninModal ">
    <h4 class="modal-title   text-warning" id="modal-basic-title">Sign in</h4>
    <button type="button" class="close text-warning" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body SigninModal">
    <form [formGroup]=myForm2 (ngSubmit)="submitForm2()">
      <div class="form-group  ml-3">
        <label for="username" class="text-warning my-3">User name</label>
        <div class="input-group ">
          <input id="username" type="text" class="form-control " placeholder="Username" formControlName="username">
        </div>
        <p class="invalid text-warning" *ngIf="!UsernameStatus2">Username is required and min length is 4</p>
        <label for="password" class="text-warning my-3">Password</label>
        <div class="input-group ">
          <input id="Password" type="password" class="form-control" placeholder="Password" formControlName="password">

        </div>
        <p class="invalid text-warning" *ngIf="!PasswordStatus2">Password is required </p>
      </div>
      <div class="modal-footer border-0 SigninModal">
        <button type="submit" class="btn btn-warning" (click)="modal.close('Save click') "
          [disabled]="myForm2.invalid">Login</button>
      </div>
    </form>
  </div>



</ng-template>





<ng-template #content let-modal class="SigninModal ">
  <div class="modal-header border-0 SigninModal ">
    <h4 class="modal-title   text-warning" id="modal-basic-title">Sign up</h4>

    <button type="button" class="close text-warning" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body SigninModal">
    <form [formGroup]=myForm (ngSubmit)="submitForm()">
      <div class="form-group  ml-3">
        <div class="row">
          <div class="col-6">
            <label for="fname" class="text-warning my-3">First name</label>
            <div class="input-group  ">
              <input id="fname" type="text" class="form-control " placeholder="fname" formControlName="fname">
            </div>
            <p class="invalid text-warning" *ngIf="!FnameStatus">First name is required and min length is 3</p>
          </div>
          <div class="col-6">
            <label for="lname" class="text-warning my-3">Last name</label>
            <div class="input-group ">
              <input id="lname" type="text" class="form-control " placeholder="lname" formControlName="lname">
            </div>
            <p class="invalid text-warning" *ngIf="!LnameStatus">Last name is required and min length is 3</p>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label for="username" class="text-warning my-3">User name</label>
            <div class="input-group ">
              <input id="username" type="text" class="form-control " placeholder="Username" formControlName="username">
            </div>
            <p class="invalid text-warning" *ngIf="!UsernameStatus">Username is required and min length is 4</p>
          </div>
          <div class="col-6">
            <label for="Gender" class="text-warning my-3">Gender</label>
            <div class="form-check Gender">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label text-light" for="flexRadioDefault1">
                Female
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label  text-light" for="flexRadioDefault2">
                Male
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="Email" class="text-warning my-3">Email</label>
            <div class="input-group ">
              <input id="Email" type="email" class="form-control " placeholder="Email" formControlName="email">
            </div>
            <p class="invalid text-warning" *ngIf="!EmailStatus">Email is required and valid</p>
          </div>
          <div class="col-6">
            <label for="lname" class="text-warning my-3">Password</label>
            <div class="input-group ">
              <input id="Password" type="password" class="form-control" placeholder="Password"
                formControlName="password">

            </div>
            <p class="invalid text-warning" *ngIf="!PasswordStatus">Password is required </p>
          </div>
        </div>



        <div class="row">
          <div class="col-6">
            <label for="example-date-input" class="text-warning my-3">Date</label>
            <div class="input-group">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input" formControlName="Dob">
            </div>
            <p class="invalid text-warning" *ngIf="!DateStatus">Date of birth is required </p>
          </div>
          <div class="col-6">
            <label class="text-warning my-3" for="customFile">Upload your Photo</label>
            <div class="input-group">
              <input type="file" class="form-control" id="customFile" />
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer border-0 SigninModal">
    <button type="submit" class="btn btn-warning" (click)="modal.close('Save click') "
      [disabled]="myForm.invalid">Register</button>
  </div>
</ng-template>
 

<router-outlet></router-outlet>
<app-footer></app-footer>