<nav class="navbar navbar-dark bg-dark navbar-expand-md  " *ngIf="!isLoggedIn; else elseBlock">
  <a routerLinkActive="selected" routerLink="" class="text-warning font-weight-bold navbar-brand">GoodBooks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mx-2 text-light font-weight-bold" aria-current="page" routerLinkActive="selected"
          routerLink="books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  mx-2 text-light font-weight-bold" aria-current="page" routerLinkActive="selected"
          routerLink="categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link   mx-2 text-light font-weight-bold" aria-current="page" routerLinkActive="selected"
          routerLink="authors">Authors</a>
      </li>
    </ul>
  </div>
  <div class=" collapse navbar-collapse col-5">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-warning dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{SearchOption}}</button>
        <div class="dropdown-menu bg-dark">
          <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">All</a>
          <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Books</a>
          <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Categories</a>
          <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Authors</a>
        </div>
      </div>
      <input class="form-control border-end-0 border rounded-right" type="text" placeholder="Search"
        id="example-search-input" [(ngModel)]="keyWords">
      <span class="input-group-append">
        <button class="btn btn-light border-start-0 border-top-0 border-bottom-0 ms-n5  h-100"
                    type="button" (click)="Search($event);" routerLinkActive="selected" routerLink="searchResults">
                    <i class="fa fa-search text-dark "></i>
                </button>
      </span>
    </div>
  </div>
  <div class="collapse navbar-collapse col-3">
    <button class="btn btn-warning mx-3" height="38" type="button" id="SignIn" (click)=open(login,$event)>
      Sign in
    </button>
    <button class="btn btn-outline-warning ml-3 " height="38" type="button" id="SignUp" (click)=open(content,$event)>
      Sign up
    </button>
  </div>
</nav>

<ng-template #elseBlock>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md  ">
    <a routerLinkActive="selected" routerLink="" class="text-warning font-weight-bold navbar-brand">GoodBooks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mx-2 text-light font-weight-bold" aria-current="page" routerLinkActive="selected"
            routerLink="books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-2 text-light font-weight-bold" aria-current="page" routerLinkActive="selected"
            routerLink="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link   mx-2 text-light font-weight-bold" aria-current="page" routerLinkActive="selected"
            routerLink="authors">Authors</a>
        <li class="nav-item col-3 me-5 ml-2 ">
          <a class="nav-link active  me-0 font-weight-bold" aria-current="page" routerLinkActive="selected"
            routerLink="/home/myshelf">MyBooks</a>

        </li>
      </ul>
    </div>
    <div class=" collapse navbar-collapse col-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-warning dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{SearchOption}}</button>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">All</a>
            <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Books</a>
            <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Categories</a>
            <a class="dropdown-item text-warning" (click)=" chooseSearch($event)">Authors</a>
          </div>
        </div>
        <input class="form-control border-end-0 border rounded-right" type="text" placeholder="Search"
        id="example-search-input" [(ngModel)]="keyWords">
      <span class="input-group-append">
        <button class="btn btn-light border-start-0 border-top-0 border-bottom-0 ms-n5  h-100"
                    type="button" (click)="Search($event);" routerLinkActive="selected" routerLink="searchResults">
                    <i class="fa fa-search text-dark "></i>
                </button>
      </span>
      </div>
    </div>
    <div class="collapse navbar-collapse col-3">

      <img [src]="profilePic ||'../../../assets/imgs/unknown_user.png'" width="40" height="40"
        class="user-img rounded-circle mr-2">
      <button class="btn btn-outline-warning ml-5 " type="button" id="signOut" (click)="signOut()"> Sign out
      </button>
    </div>

  </nav>
</ng-template>

<ng-template #login let-modal class="custom-modals ">
  <!-- ====================== Login Modal ======================= -->
  <div class="modal-header border-0 custom-modals ">
    <h4 class="modal-title   text-warning" id="modal-basic-title">Sign in</h4>
    <button type="button" class="close text-warning" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body custom-modals">

    <form #signInForm="ngForm" (ngSubmit)="submitLogin(signInForm)">
      <div class="form-group  ml-3">

        <label for="username" class="text-warning my-3">Username</label>
        <div class="input-group ">
          <input id="username" name="username" #username="ngModel" ngModel type="text" class="form-control"
            placeholder="&#61447;  Username" required minlength="4">
          <small class="m-0 text-danger input-group" *ngIf="username.invalid && (username.dirty || username.touched)">
            Username min length is 4 characters !
          </small>
        </div>

        <label for="password" class="text-warning my-3">Password</label>
        <div class="input-group ">
          <input id="password" name="password" ngModel #password="ngModel" type="password" class="form-control"
            placeholder="&#xf023;  Password" minlength="4" required>

          <small class="m-0 text-danger input-group" *ngIf="password.invalid && (password.dirty || password.touched)">
            Password min length is 4 characters !
          </small>
        </div>
      </div>

      <div class=" text-center mt-3 h6 row justify-content-md-center mt-3" role="status" *ngIf="loginLoading">
        <div class="d-inline-block spinner-border text-warning  m-0 p-0" role="status"></div>
        <span class="d-inline-block text-muted ml-3 pb-1 pt-1">Signing in...</span>
      </div>

      <hr>

      <div class=" text-center   mt-3 h5" role="status" *ngIf="loginFailed">
        <a class="badge badge-danger mr-2 ">Failed</a>
        <small class="text-danger">Wrong username or password</small>
      </div>

      <hr>

      <div class=" border-0 custom-modals text-center ">
        <button type="submit" class="btn btn-warning form-buton font-weight-bold"
          [disabled]="signInForm.invalid">Login</button>
      </div>

    </form>
  </div>
</ng-template>


<!-- ====================== Sign up Modal ======================= -->
<ng-template #content let-modal class="custom-modals ">
  <div class="modal-header border-0 custom-modals  ">
    <h4 class="modal-title text-warning" id="modal-basic-title">Sign up</h4>

    <button type="button" class="close text-warning" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body custom-modals">
    <form #signUpForm="ngForm" (ngSubmit)="submitSignup(signUpForm)">
      <div class=" m-3">
        <div class="form-group row mr-1 mb-0">
          <label for="firstname" class="col-3 text-warning pb-0 pt-2 h6">Firstname</label>
          <input id="firstname" type="text" class="form-control col-9   " placeholder="&#xf105;  Firstname"
            name="firstname" ngModel #firstname="ngModel" required minlength="4">
        </div>
        <div class="row mt-0 mr-1" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger ">
            Firstname min length is 4 characters !
          </small>
        </div>

        <div class="form-group row mr-1 mt-3 mb-0">
          <label for="lastname" class="col-3 text-warning pb-0 pt-2 h6">Lastname</label>
          <input id="lastname" type="text" class="form-control col-9  " placeholder="&#xf101;  Lastname" name="lastname"
            ngModel #lastname="ngModel" required minlength="4">
        </div>
        <div class="row mt-0 mr-1" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger ">
            Lastname min length is 4 characters !
          </small>
        </div>

        <div class="form-group row mr-1 mt-3 mb-0">
          <label for="email" class="col-3 text-warning pb-0 pt-2 h6">Email</label>
          <input id="email" type="text" class="form-control col-9  " placeholder="&#xf0e0;  Email" name="email" ngModel
            #email="ngModel" required email>
        </div>
        <div class="row mt-0 mr-1" *ngIf="email.invalid && (email.dirty || email.touched)">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger">
            Valid Email address is reqiured !
          </small>
        </div>

        <div class="form-group row mr-1 mt-3 mb-0 ">
          <p for="photo" class=" col-3 text-warning pb-0 pt-2 h6">Photo</p>
          <div class="col-9">
            <input id="photo" type="file" class=" custom-file-input  form-control" (change)="onImgChange($event)"
              placeholder="Choose Photo" name="photo" ngModel name="photo" accept="image/*">
            <label class="custom-file-label" for="photo">{{img.name||"Choose Photo"}}</label>
          </div>
        </div>
        <div class="row mt-0 mr-1" *ngIf="invalidPhoto ">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger">
            Invalid Photo | too big
          </small>
        </div>

        <div class="input-group  mb-0 mt-3">
          <label for="gender" class="text-warning mr-5 h6">Gender</label>
          <div class="form-check gender">
            <input class="form-check-input" type="radio" value="f" name="gender" ngModel id="female" #gender="ngModel"
              required>
            <label class="form-check-label text-light mr-3 h6" for="female"> Female </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="m" name="gender" ngModel id="male" #gender="ngModel"
              required>
            <label class="form-check-label h6 text-light" for="male"> Male </label>
          </div>
        </div>

        <div class="row mt-0 mr-1" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger">
            Choose your gender
          </small>
        </div>

        <div class="form-group row mr-1 mt-3 mb-0">
          <label for="dob" class="col-3 text-warning pb-0 pt-2 h6">Birth Date</label>
          <input id="dob" type="date" class="form-control col-9  " placeholder="Birth Date" name="dob" ngModel
            #dob="ngModel" required date>
        </div>
        <div class="row mt-0 mr-1" *ngIf="dob.invalid && (dob.dirty || dob.touched)">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger">
            Valid Birth date is required
          </small>
        </div>

        <div class="form-group row mr-1 mt-3 mb-0">
          <label for="username" class="col-3 text-warning pb-0 pt-2 h6">Username</label>
          <input id="username" type="text" class="form-control col-9" placeholder="&#61447;  Username" name="username"
            ngModel #username="ngModel" required minlength="4">
        </div>
        <div class="row mt-0 mr-1" *ngIf="username.invalid && (username.dirty || username.touched)">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger ">
            Username min length is 4 characters !
          </small>
        </div>

        <div class="form-group row mr-1 mt-3 mb-0">
          <label for="password" class="col-3 text-warning pb-0 pt-2 h6">Password</label>
          <input id="password" type="password" class="form-control col-9  " placeholder="&#xf023;  Password"
            name="password" ngModel #password="ngModel" required minlength="4">
        </div>
        <div class="row mt-0 mr-1" *ngIf="password.invalid && (password.dirty || password.touched)">
          <small class="col-md-9 ml-md-auto p-0 m-0 text-danger ">
            Password min length is 4 characters !
          </small>
        </div>

        <div class=" text-center mt-3 h6 row justify-content-md-center mt-3" role="status" *ngIf="loading">
          <div class="d-inline-block spinner-border text-warning  m-0 p-0" role="status"></div>
          <span class="d-inline-block text-muted ml-3 pb-1 pt-1">Registering...</span>
        </div>

        <div class=" text-center   mt-3 h5" role="status" *ngIf="success">
          <a class="badge badge-success mr-1 ">Success</a>
          <small class="text-light"> Registered successfully, you can login now !</small>
        </div>

        <div class=" text-center   mt-3 h5" role="status" *ngIf="failed">
          <a class="badge badge-danger mr-2 ">Failed</a>
          <small class="text-danger">Failed to register new user, contact the admins</small>
        </div>

        <div class=" text-center   mt-3 h5" role="status" *ngIf="duplicatedUsername">
          <a class="badge badge-danger mr-2 ">Duplicated</a>
          <small class="text-danger">Username Exists</small>
        </div>

        <div class=" border-0  mt-4 mb-3 custom-modals text-center text-dark" *ngIf="!loading && !success">
          <button type="submit" class="btn btn-warning form-buton font-weight-bold"
            [disabled]="signUpForm.invalid">Register</button>
        </div>

        <div class=" border-0  mt-4 mb-3 custom-modals text-center text-dark" *ngIf="success">
          <button type="button" class="btn btn-warning form-buton font-weight-bold"
            (click)="modal.close('Save click')">Done</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer class="mt-auto footer"></app-footer>