<nav class="navbar navbar-expand-lg  navbar-dark bg-dark py-2   ">
    <div class="container-fluid">
      <a class="navbar-brand text-warning font-weight-bold ms-3" href="#">GoodBooks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid row">
        <div class="collapse navbar-collapse col-4" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
            <li class="nav-item col-2  ">
             <a class="nav-link active me-0 font-weight-bold " aria-current="page" href="books">Books</a>
            </li>
            <li class="nav-item col-3 ">
              <a class="nav-link active me-0 font-weight-bold" aria-current="page" href="categories">Categories</a>
            </li>
            <li class="nav-item col-2 me-5">
              <a class="nav-link active  me-0 font-weight-bold" aria-current="page" href="authors">Authors</a>
            </li>
            <li class="nav-item col-3 me-5 ml-2 ">
                <a class="nav-link active  me-0 font-weight-bold" aria-current="page" href="#">MyBooks</a>
              </li>
          </ul>
        </div>
        <div class=" collapse navbar-collapse col-5">
          <div class="input-group">
            <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="Search"
              id="example-search-input">
            <span class="input-group-append">
              <button class="btn btn-light border-start-0 border-top-0 border-bottom-0  rounded-pill ms-n5 h-100"
                type="button">
                <i class="fa fa-search "></i>
              </button>
            </span>
          </div>
        </div>
        <div class="collapse navbar-collapse col-3">
            <img src="https://i.imgur.com/C4egmYM.jpg" width="40" class="user-img rounded-circle mr-2"> 
         <button class="btn btn-outline-warning ml-5 " type="button" id="Sign out" >
            Sign out
          </button>
         
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>