<h2 class="text-warning ml-5 mt-3 mb-3 ">Authors</h2>
<div class="container">
  <div class="row ml-5 ">
    
    <div  class="mx-3 my-3" *ngFor="let author of authorsArray | slice: (page-1) * authorsPerPage : page * authorsPerPage"> 
      <div class="hovereffect">
        <img class="img-responsive rounded-circle" src="assets/imgs/login-bg.jpg" alt=""  width="160" height="160">
            <div class="overlay">
                <h2 class="text-warning">{{author.fname}}</h2>
				<p>
					<a href="#">More Details</a>
				</p>
            </div>
    </div>
       
    </div>

</div>
</div>
<div class="d-flex justify-content-center ">
  <ngb-pagination *ngIf="totalAuthors>authorsPerPage"
    [(page)]="page"
    [pageSize]="authorsPerPage"
    [collectionSize]="totalAuthors"></ngb-pagination></div>
  
 

<!--<div class="container">
  <div class="row ">

    <div class="col col-md-2 col-sm-6 ">
      <a href="" class="">
        <img class="rounded-circle" src="assets/book1.jpg"  alt=""  width="160" height="160">
      </a>
      <figcaption class="">
        <p><a class="text-decoration-none text-warning d-flex justify-content-center" href="#"> Francois morine </a> </p>
      </figcaption>
    </div>
  </div>
  </div>-->