<div class="justify-content-start d-flex container mt-3 pl-0"><h1 class="text-warning">Authors  </h1></div>
<div class="d-flex justify-content-center  mb-5 ">
  <div class="spinner-border text-warning loading " role="status" *ngIf="loading">
    <span class="sr-only loading">Loading...</span>
  </div>
</div>
<div class="container border border-dark rounded  mb-3" style="background: #212529; opacity:0.8">
  <div class="row d-flex justify-content-center ">

    <div class="mx-3 my-5" *ngFor="let author of authorsArray ">
      <div class="hovereffect">
        <img class="img-responsive rounded-circle" *ngIf="author.photo;else unknown" src="{{author.photo}}" alt=""
          width="160" height="160">
        <ng-template #unknown> <img class="img-responsive rounded-circle" src="/assets/imgs/unknown.png" alt=""
            width="160" height="160">
        </ng-template>
        <div class="overlay">
          <h2 class=""></h2>
          <p >
            <a class="text-warning font-weight-bold" routerLink={{author._id}}>More Details</a>
          </p>
        </div>
      </div>
      <p class=" text-warning font-weight-bold h6 AuthorName ">{{author.fname}} {{author.lname}}</p>
    </div>

  </div>
  <div class="d-flex justify-content-center ">
    <ngb-pagination *ngIf="totalAuthors>authorsPerPage" [(page)]="page" [pageSize]="authorsPerPage"
      [collectionSize]="totalAuthors" (pageChange)="showPageIndex(page)">
    </ngb-pagination>
  </div>
</div>
