<div class="login-box">
    <h3 class="text-warning text-center mb-5 font-weight-bold">ADMIN DASHBOARD</h3>
    <form #adminLogin="ngForm" (ngSubmit)="submitForm(adminLogin)">

        <div class="user-box">
            <input type="text" id="username" name="username" ngModel #username="ngModel" required minlength="4"
                autofocus>
            <label> <i class="fa fa-user" aria-hidden="true"></i>Username</label>
        </div>

        <div class="user-box">
            <input type="password" id="password" name="password" ngModel #password="ngModel" minlength="4" required>
            <label><i class="fa fa-lock" aria-hidden="true"></i> Password</label>
        </div>

        <div class="" *ngIf="username.invalid && (username.dirty || username.touched)">
            <li class="text-danger">Username min length 4 characters</li>
        </div>
        <div class="" *ngIf="password.invalid && (password.dirty || password.touched)">
            <li class="text-danger">Password min length 4 characters</li>
        </div>

        <div class=" text-center mt-3 h6 row justify-content-md-center mt-3" role="status" *ngIf="loginLoading">
            <div class="d-inline-block spinner-border text-warning  m-0 p-0" role="status"></div>
            <span class="d-inline-block text-muted ml-3 pb-1 pt-1">Signing in...</span>
        </div>

        <div class=" text-center   mt-3 h5" role="status" *ngIf="loginFailed">
            <a class="badge badge-danger mr-2 ">Failed</a>
            <small class="text-danger">Wrong username or password</small>
        </div>

        <div class="parent">
            <a id="light-effect">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button type="submit" [disabled]="adminLogin.invalid">LOGIN</button>
            </a>
        </div>
    </form>
</div>