<div class="d-flex justify-content-center " style="height: 100vh;">
    <div class="align-self-center custom">
        <div class="card text-center theme text-white">
            <div class="header ">
                  <h1 class="text-warning text-center mt-2" style="font-size: 35px; font-weight: bolder;">ADMIN DASHBORAD</h1>
            </div>
            <div class="card-header m-0">
                <ul class="nav nav-tabs card-header-tabs nav-theme w-100  ">
                    <li class="nav-item  ">
                        <a class="nav-link h5 text-white " routerLinkActive="selected" routerLink="books">BOOKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  h5 text-white " routerLinkActive="selected" routerLink="authors">AUTHORS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 text-white " routerLinkActive="selected" routerLink="categories">CATEGORIES</a>
                    </li>
                    <div class="d-flex justify-content-center">
                      <div class="wrapper m-0 align-self-center  ">
                        <button class=" add-effect btn btn-dark " (click)="signOut()">
                            <span class="text-warning h5 font-weight-bold ">Sign out</span>
                            <i class="fa fa-sign-out h5 add-style text-warning m-0 ml-2"></i>
                        </button>
                      </div>
                    </div>
                </ul>

            </div>
            
            <div class="card-body mt-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
