ngb-pagination ::ng-deep .page-link {
    background-color: #343A40;
    color: #FFC107;
}
ngb-pagination ::ng-deep .page-item.active .page-link{
    border-block-color: #FFC107;
      border-left-color: #FFC107;
      border-right-color: #FFC107;
    background-color: #343A40;
    color: #FFC107;
}
ngb-pagination ::ng-deep .page-item.disabled .page-link{
    background-color: #343A40;
    color: #FFC107;
}
 
ngb-pagination ::ng-deep .page-link:focus,
ngb-pagination ::ng-deep .page-link:hover{
    background-color: #FFC107;
    color: #343A40;
    border-color: #FFC107;
} 

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}