<div class="container border border-warning rounded-3 mt-5 mb-5 ">
  <h3 class="text-warning my-2">Popular Books</h3>
  
  <div class="row row-cols-1 row-cols-md-6 mb-3 mt-3">
    <div class="col" *ngFor="let book of topBooks">

      <div class="hovereffect ">
        <img class="img-responsive" *ngIf="book.photo;else unknown" src="{{book.photo}}" alt="" width="160"
          height="200">

        <ng-template #unknown> <img class="img-responsive" src="/assets/imgs/unknown_book.jpg" alt="" width="160"
            height="200">
        </ng-template>

        <div class="overlay ">
          <h2 class="text-warning">{{book.name}}</h2>
          <a class="info" routerLink="books/{{book._id}}">View Details</a>
        </div>

      </div>
    </div>
  </div>
</div>