<div class=" text-center t-0 row justify-content-md-center mt-3" role="status" *ngIf="actionLoading">
    <div class="d-inline-block spinner-border text-warning  m-0 p-0" role="status"></div>
    <span class="d-inline-block text-muted ml-3 pb-1 pt-1">Applying...</span>
</div>

<div class=" text-center   m-0 h5" role="status" *ngIf="success">
    <a class="badge badge-success mr-1 ">Success</a>
    <small class="text-light"> Performed Successfully</small>
</div>

<div class=" text-center   m-0 h5" role="status" *ngIf="failed">
    <a class="badge badge-danger mr-2 ">Failed</a>
    <small class="text-danger">Failed, Server Error</small>
</div>

<div class="spinner-border mt-2 text-warning loading" role="status" *ngIf="loading">
    <span class="sr-only loading">Loading...</span>
</div>
<div class="text-right mb-3 ">
    <button class="add-effect btn btn-warning m-0 pb-0" name="add" #add (click)="open(content, add,null)">
        <span class="text-warning h5 text-dark font-weight-bold mt-0">Add Author</span>
        <i class="fa fa-plus-circle h5 add-style text-dark  ml-2"></i>
    </button>
</div>

<table class="table table-bordered table-dark ">
    <thead class="text-warning">
        <tr class="h5">
            <th scope="col">Full Name</th>
            <th scope="col">Photo</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of authors" class="align-middle">
            <td>{{author.fname + " "+ author.lname}}</td>
            <td><img [src]="author.photo" alt="no Photo" style="width: 60px;height: 100px;"></td>
            <td>{{author.gender|i18nSelect : genderEnum}}</td>
            <td>{{author.dob|date:'d/M/yyyy'}}</td>
            <td style="width: 9%;">
                <i class="fa fa-pencil-square icon-style mr-3" name="update" #update
                    (click)="open(content,update,author)"></i>
                <i class="fa fa-trash icon-style" style="color: red;" data-toggle="modal"
                    (click)="confirm(delete,author._id)"></i>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="form-theme">
        <div class="modal-header text-center">
            <h2 class="modal-title h1 font-weight-bold text-warning" id="modal-basic-title ">NEW AUTHOR</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="text-warning" aria-hidden="true ">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <form [formGroup]=authorForm>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input id="fname" placeholder="First Name" (focus)="focusFname()"
                            class="form-control form-theme text-white" formControlName="fname">
                    </div>
                    <div class="input-group mb-3">
                        <input id="lname" placeholder="Last Name" (focus)="focusLname()"
                            class="form-control form-theme text-white" formControlName="lname">
                    </div>

                    <div class="input-group mb-3">
                        <input type="file" (change)="onImgChange($event)"
                            class="custom-file-input form-control form-theme" id="photo">
                        <label class="custom-file-label form-theme  text-white" for="photo">{{img.name||"Choose
                            Photo"}}</label>
                    </div>


                    <div class="input-group  mb-3 mt-3">
                        <label for="gender" class="text-warning mr-5 h6">Author Gender</label>
                        <div class="form-check gender">
                            <input class="form-check-input" type="radio" value="f" name="gender" id="female"
                                formControlName="gender">
                            <label class="form-check-label text-light mr-3 h6" for="female"> Female </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="m" name="gender" id="male" checked
                                formControlName="gender">
                            <label class="form-check-label h6 text-light" for="male"> Male </label>
                        </div>
                    </div>

                    <div class="form-group row mr-1">
                        <label for="dob" class="col-4 text-warning pb-0 pt-2 h6">Date of Birth</label>
                        <input class="form-control col-8 form-theme text-white " formControlName="dob" type="date"
                            id="dob">
                    </div>
                </div>

                <hr>
                <div class="alert alert-danger  mb-2"
                    *ngIf="(!authorForm.controls.fname.valid &&fnameFocused) || (!authorForm.controls.lname.valid && lnameFocused)">
                    <p class=" m-0">First name and last name must be more than 4 characters</p>
                </div>

                <div class="alert alert-danger mb-2" *ngIf="invalidPhoto">
                    <p class=" m-0">Bad Photo</p>
                </div>

                <div class="mb-1 mt-3 text-center text-dark">
                    <button type="submit" class="btn btn-warning text-dark font-weight-bold "
                        (click)="modal.close('Save click')" [disabled]="authorForm.invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #delete let-modal>
    <div class="form-theme">
        <div class="modal-header text-center">
            <h2 class="modal-title h1 font-weight-bold text-warning m-0" id="modal-basic-title ">CONFIRMATION</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="text-warning" aria-hidden="true ">&times;</span>
            </button>
        </div>

        <div class="modal-body text-center">
            <p class="h5 text-danger mb-1">Are you sure to delete this Author ?</p>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class=" mr-2 text-dark font-weight-bold btn btn-danger "
                (click)="modal.close('Save click')">Confirm</button>
            <button type="button" class="btn btn-warning text-dark font-weight-bold "
                (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>